<main class="main">
  <div class="inner">
    <div class="schedule__wrapper">
      <p class="schedule__hedding">
        <%= @schedule.title %>
      </p>
      <div class="schedule__image">
        <%= image_tag  @schedule.image %>
      </div>
      <div class="schedule__body">
        <div class="schedule__detail">
          <p class="detail__title">プラン</p>
          <pre class="detail__message">
            <%= @schedule.detail %>
          </pre>
                  <div class="schedule__manage">
          <%= link_to "編集する", edit_schedule_path(@schedule), class: :schedule__btn %>
          <%= link_to "削除する", schedule_path(@schedule), method: :delete,class: :schedule__btn %>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
